body {
  background: #f9fafd;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  padding: 10px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* height: 95vh; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbe0b;
  transition: 0.4s;
}

.slider:before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider:before {
  content: "\f186";
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.social-media-post {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #7ed6ff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.1);
}

.social-media-post img {
  width: 100%; /* Set your desired width */
  max-height: 400px; /* Set your desired height */
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.social-media-post p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.social-media-post .caption {
  font-weight: bold;
  margin-bottom: 10px;
  color: #7388ff;
}

.social-media-post .source-type a {
  color: #7388ff;
  text-decoration: none;
}

.social-media-post .date,
.social-media-post .likes {
  margin-top: 10px;
  color: #6f00ff;
}

.social-media-post .author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.social-media-post .author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #004d3c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.social-media-post .author-name {
  font-weight: bold;
  color: #555;
}

.load-more {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.load-more:hover {
  background-color: #23527c;
}

.load-more:active {
  background-color: #1e476e;
}

.load-more:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Position the modal */
  z-index: 1; /* Make it appear on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}
#closeModal {
  position: fixed;
  z-index: 2;
  right: 10px;
  top: 10px;
  color: white;
  overflow: hidden;
  cursor: pointer;
}
/* Style for the modal content */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
}

/* Style for the image inside the modal */
.modal-content img {
  width: 100%;
  height: auto;
}
.display-modal {
  display: block;
}
